/* COLOUR PALETTE:

#49274A = EGGPLANT
#F4DECB = SAND
#F8EEE7 = SHELL

Sourced From: 'Website color scheme #9: Tints and tones' in https://www.canva.com/learn/website-color-schemes/

=================== */

/* FONT FAMILIES:

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
Arial
sans-serif

=================== */

body {
  font-family: 'Anta', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #F8EEE7;
  text-align: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  background-color: #49274A;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 12%;
  min-height: 6em;
  z-index: 1;
}

.toplink a:link, .toplink a:visited {
  color: #F4DECB;
  text-decoration: none;
}

.toplink a:hover, a:active {
  color: #49274A;
  background-color: #F4DECB;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.left {
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  float: left;
  position: fixed;
  height: 80%;
  min-height: 80%;
  width: 19.8%;
  min-width: 19.8%;
  border-right-style: solid;
  border-right-width: 0.2em;
  border-right-color: #49274A;
}

.right {
  display: flex;
  flex-direction: column;
  float: right;
  width: 80%;
  height: 80%;
  padding-top: 6%;
  padding-bottom: 7%;
}

nav {
  background-color: #F8EEE7;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #49274A;
  text-decoration: none;
}

nav a, #mailto {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #49274A;
  text-decoration: none;
}

nav a:link, nav a:visited, #mailto {
  color: #49274A;
  text-decoration: none;
}

nav a:hover, nav a:active, #maito:active, #mailto:hover {
  color: #F4DECB;
  background-color: #49274A;
  text-decoration: underline;
}

.portrait {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin-bottom: 1em;
  padding-top: 1em;
}

section h1 {
  color: #F4DECB;
  background-color: #49274A;
}

section p {
  overflow: auto;
  padding-left: 10%;
  padding-right: 10%;
  color: #49274A;
}

footer {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  width: 100%;
  background-color: #49274A;
  color: #F4DECB;
  padding: 1em;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 8%;
  min-height: 3em;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  section {
    overflow: scroll;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 0%;
    padding-right: 0%;
  }

  nav {
    padding-left: 10%;
    padding-right: 10%;
  }

  .portrait {
    max-width: 0.5em;
    max-height: 0.5em;
  }

  .left {
    min-width: 2.5em;
  }
}
